  <div id=bar>
    <div id=logo-container></div>
    <div id=bigHeader>
      {{bigHeader}}
    </div>
    <div id=smallHeader>
      {{smallHeader}}
    </div>
    <nav id=main-nav>
      {{#if isRelease}}
        {{partial release_navigation}}
      {{/if}}
      {{#if isIssue}}
        {{partial issue_navigation}}
      {{/if}}
      {{#if isUser}}
        {{partial user_navigation}}
      {{/if}}
      
    </nav>
  </div>
