<% @issues.keys.each do |series| %>
  <% issue = @issues[series] %>
  <div id="<%= issue.diamond_no %>_details" class="reveal-modal xlarge">
    <p class="modal-title"><%= issue.title %></p>
    <div class = "four columns" >

    <%= image_tag issue.cover.url(:medium), {:class => "modal_comic_cover"} %>
    </div>
    <div class="eight columns issue_info" >
      <% CreatorStringFormatter.new(issue).format.each do |c| %>
        <div class="row">
          <p class="creator_text info-text twelve columns"><%= c %></p>
        </div>
      <% end %>
      <div class="row">
        <p class="info-text twelve columns"><%= issue.description %></p>
      </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </div>
<%end%>  <%#end of issues block%>
