!!! 5

%html{ng: {app: "WednesdayShelf"}}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "WednesdayShelf"

    = stylesheet_link_tag "application"
    = javascript_include_tag :modernizr
    = csrf_meta_tag

  %body{class: body_classes}

    #bar{ng: {controller: "SidebarCtrl"}}
      .inner-bar-content
        =link_to root_path do
          #logo-container
        #header
          = content_for?(:header) ? yield(:header) : "WednesdayShelf"
        %nav#main-nav
          = content_for?(:sidebar) ? yield(:sidebar) : ''

    #content
      #flash-box
        .notice
          =notice
        .alert
          =alert

      = yield

    = javascript_include_tag "application"
